{% extends "base.html" %}
{% block content %}
<h2 style="text-align: center;">GenAI-Powered C2 Simulator</h2>

<div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px; padding: 30px;">

    <a href="/steganography">
        <button class="menu-btn">🔍 Finding Steganography</button>
    </a>

    <a href="/aes">
        <button class="menu-btn">🔐 AES Encryption</button>
    </a>

    <a href="/analyser">
        <button class="menu-btn">🧠 AI-based Analyser & Detection</button>
    </a>



    <a href="/packet-analyser">
        <button class="menu-btn">📡 Packet Analyser</button>
    </a>

    <a href="/c2-apps">
        <button class="menu-btn">🛡️ C2 Blue Team Applications</button>
    </a>

</div>
{% endblock %}